<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>VIEW</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body background=/images/stethoscope-2617701_1920.jpg>
<div class="container">
<div class="row">
<div class="col-md-offset-3 col-md-9">
<br>
<table class="table table-dark table-hover bg-info">
<tr class="lead text-danger" style="font-style:italic">
<th>FIRSTNAME</th>
<th>LASTNAME</th>
<th>PHONENUMBER</th>
<th>AGE</th>
<th>CASE</th>
<th>VIEW</th>
</tr>
<tr class="lead" th:each="complain:${myList}">
<td th:text="${complain.firstName}"></td>
<td th:text="${complain.lastName}"></td>
<td th:text="${complain.phoneNumber}"></td>
<td th:text="${complain.age}"></td>
<td th:text="${complain.consultationType}"></td>
<td><a th:href="@{/doctor/viewdescription(complainId=${complain.consultationId},
description=${complain.description},doctorfirstName=${doctorfirstName},
doctorId=${doctorId},patientphoneNumber=${complain.phoneNumber},
doctorphoneNumber=${doctorphoneNumber},patientfirstName=${complain.firstName},
specialty=${complain.consultationType},id=${complain.consultationId})}">VIEW</a></td>
</tr>
</table>
<div  class="text-success">
<h6 th:text="${message}"></h6>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>